@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Register
 * Version: 5.0
 */

/* ---------- Register ---------- */

.register .wrap {
	margin-bottom: 10px;
	border: 2px solid #f2f2f2;
}

.register .main {
	padding-bottom: 20px;
	border: 1px solid #d7d7d7;
}

.register .title {
	height: 40px;
	line-height: 40px;
	color: #d8d8d8;
	font-family: "Microsoft YaHei";
	border-bottom: 1px dotted #ededed;
}

.register .title strong {
	padding: 0px 10px;
	color: #3164af;
	font-size: 18px;
	font-weight: normal;
}

.register table {
	width: 640px;
	float: left;
	margin-top: 20px;
}

.register th {
	width: 160px;
	padding: 12px;
	font-weight: normal;
	text-align: right;
}

.register .captcha {
	width: 120px;
	text-transform: uppercase;
	ime-mode: disabled;
}

.register .captchaImage {
	margin-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}

.register .submit {
	width: 220px;
	height: 35px;
	line-height: 35px;
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background-color: #fc560d;
}

.register .login {
	width: 260px;
	float: right;
	padding: 20px;
	border-bottom: 2px solid #f2f2f2;
	border-left: 2px solid #f2f2f2;
	background-color: #fff8db;
}

.register .login dt {
	line-height: 40px;
	color: #bd5613;
	font-size: 16px;
	font-family: "Microsoft YaHei";
}

.register .login dd {
	line-height: 28px;
	color: #565656
}

.register .login dd a {
	color: #bd5613
}