@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Cart
 * Version: 5.0
 */

/* ---------- Cart ---------- */

.cart .step {
	height: 25px;
	margin-bottom: 10px;
}

.cart .step ul {
	float: right;
}

.cart .step li {
	width: 150px;
	height: 25px;
	line-height: 25px;
	float: left;
	margin-left: -15px;
	_position: relative;
	font-family: "Microsoft YaHei";
	text-align: center;
	background: url(../images/cart.gif) 0px 0px no-repeat;
}

.cart .step .current {
	color: #ffffff;
	background-position: -150px 0px;
}

.cart .cartTable {
	width: 100%;
	margin-bottom: 10px;
}

.cart .cartTable th {
	line-height: 36px;
	padding: 0px 10px;
	color: #999999;
	font-weight: normal;
	text-align: left;
	border: solid 1px #f1f1f1;
	background-color: #fafafa;
}

.cart .cartTable td {
	line-height: 20px;
	padding: 10px;
	border: solid 1px #f1f1f1;
}

.cart .cartTable img {
	width: 60px;
	height: 60px;
}

.cart .cartTable .quantity input {
	width: 30px;
	height: 18px;
	line-height: 18px;
	float: left;
	padding: 0px 2px;
	text-align: center;
	ime-mode: disabled;
	border: 1px solid #dbdbdb;
}

.cart .cartTable .quantity div {
	height: 18px;
	float: left;
	padding-left: 2px;
}

.cart .cartTable .quantity .increase {
	width: 18px;
	height: 7px;
	display: block;
	clear: both;
	margin-bottom: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid #dbdbdb;
	background: url(../images/cart.gif) 0px -30px #f9f9f9 no-repeat;
}

.cart .cartTable .quantity .increase:hover {
	border-color: #bbbbbb;
}

.cart .cartTable .quantity .decrease {
	width: 18px;
	height: 7px;
	display: block;
	clear: both;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid #dbdbdb;
	background: url(../images/cart.gif) -30px -30px #f9f9f9 no-repeat;
}

.cart .cartTable .quantity .decrease:hover {
	border-color: #bbbbbb;
}

.cart p {
	line-height: 100px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	text-align: center;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}

.cart .gift {
	line-height: 30px;
	padding-left: 60px;
	margin-bottom: 10px;
}

.cart .gift dt {
	float: left;
	_display: inline;
	padding-left: 20px;
	margin-left: -60px;
	background: url(../images/cart.gif) -270px -30px no-repeat;
}

.cart .gift dd {
	float: left;
	margin-right: 10px;
	white-space: nowrap;
}

.cart .gift dd a {
	color: #999999;
}

.cart .total {
	line-height: 30px;
	margin-bottom: 10px;
	text-align: right;
}

.cart .total em {
	margin-right: 14px;
	color: #ff6600;
	font-style: normal;
	font-weight: normal;
}

.cart .total strong {
	color: #ef0101;
	font-size: 14px;
}

.cart .bottom {
	height: 36px;
	line-height: 36px;
	margin-bottom: 10px;
	text-align: right;
	overflow: hidden;
	border: 1px solid #f1f1f1;
	background-color: #fdfdfd;
}

.cart .bottom .clear {
	margin-right: 10px;
	font-family: "Microsoft YaHei";
}

.cart .bottom .checkout {
	padding: 20px;
	color: #ffffff;
	font-family: "Microsoft YaHei";
	background-color: #ff6f3d;
}

.cart .bottom .checkout:hover {
	background-color: #ff7e51;
}