@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Common
 * Version: 5.0
 */

/* ---------- Reset ---------- */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, select, button, th, td, p, hr, blockquote, pre, code {
	padding: 0px;
	margin: 0px;
}

html {
	_width: 100%;
	_height: 100%;
	color: #666666;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	_filter: expression(document.execCommand("BackgroundImageCache", false, true));
	background-color: #ffffff;
	_background-image: url(about: blank);
	_background-attachment: fixed;
}

body {
	_width: 100%;
	_height: 100%;
}

body, input, textarea, select, button {
	font: 12px tahoma, Arial, Verdana, sans-serif;
}

input, textarea, select, button {
	font-size: 100%;
	vertical-align: middle;
	outline: none;
}

input[type=checkbox] {
	margin-right: 2px;
}

textarea {
	resize: none;
}

button {
	cursor: pointer;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}

th {
	text-align: left;
}

a {
	color: #666666;
	text-decoration: none;
}

a:hover {
	color: #ff6600;
	text-decoration: none;
}

img {
	vertical-align: middle;
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	border: 0px;
}

ul, ol {
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6, strong, em, b {
	font-size: 100%;
	font-style: normal;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

/* ---------- Base ---------- */

.black {
	color: black;
}

.white {
	color: white;
}

.gray {
	color: gray;
}

.silver {
	color: silver;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.left {
	_display: inline;
	float: left;
}

.right {
	_display: inline;
	float: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}

.dialogOverlay {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	_position: absolute;
	top: 0px;
	_top: expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight);
	left: 0px;
	z-index: 80;
	filter: alpha(opacity = 30);
	opacity: 0.3;
	*zoom: 1;
	background: url(../images/dialog_overlay.png);
}

/* ---------- Grid ---------- */

.container {
	width: 1190px;
	margin: 0px auto;
	*zoom: 1;
}

.container .row {
	margin-left: -10px;
	*zoom: 1;
}

.container:before, .container:after, .container .row:before, .container .row:after {
	display: table;
	content: "";
}

.container:after, .container .row:after {
	clear: both;
}

.container .span1, .container .span2, .container .span3, .container .span4, .container .span5, .container .span6, .container .span7, .container .span8, .container .span9, .container .span10, .container .span11, .container .span12 {
	min-height: 1px;
	_height: 1px;
	_display: inline;
	float: left;
	margin-left: 10px;
}

.container .span1 {
	width: 90px;
}

.container .span2 {
	width: 190px;
}

.container .span3 {
	width: 290px;
}

.container .span4 {
	width: 390px;
}

.container .span5 {
	width: 490px;
}

.container .span6 {
	width: 590px;
}

.container .span7 {
	width: 690px;
}

.container .span8 {
	width: 790px;
}

.container .span9 {
	width: 890px;
}

.container .span10 {
	width: 990px;
}

.container .span11 {
	width: 1090px;
}

.container .span12 {
	width: 1190px;
}

.container .offset1 {
	margin-left: 110px;
}

.container .offset2 {
	margin-left: 210px;
}

.container .offset3 {
	margin-left: 310px;
}

.container .offset4 {
	margin-left: 410px;
}

.container .offset5 {
	margin-left: 510px;
}

.container .offset6 {
	margin-left: 610px;
}

.container .offset7 {
	margin-left: 710px;
}

.container .offset8 {
	margin-left: 810px;
}

.container .offset9 {
	margin-left: 910px;
}

.container .offset10 {
	margin-left: 1010px;
}

.container .offset11 {
	margin-left: 1110px;
}

.container .offset12 {
	margin-left: 1210px;
}

/* ---------- Form ---------- */

input.text {
	width: 210px;
	height: 24px;
	line-height: 24px;
	padding: 4px;
	color: #666666;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid;
	border-color: #999999 #e1e1e1 #e1e1e1 #999999;
}

input.text[type=file] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input.text:hover {
	border-color: #89c1ee;
}

input.text:focus {
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
	border-color: #66afe9;
	background: none;
}

input.text:disabled {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	cursor: not-allowed;
	background-color: #f8f8f8;
}

input.text:disabled:hover {
	border: 1px solid;
	border-color: #999999 #e1e1e1 #e1e1e1 #999999;
}

textarea.text {
	width: 350px;
	height: 120px;
	padding: 4px;
	color: #666666;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid;
	border-color: #999999 #e1e1e1 #e1e1e1 #999999;
}

textarea.text:hover {
	border-color: #89c1ee;
}

textarea.text:focus {
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
	border-color: #66afe9;
}

textarea.text:disabled {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	cursor: not-allowed;
	background-color: #f8f8f8;
}

textarea.text:disabled:hover {
	border: 1px solid;
	border-color: #999999 #e1e1e1 #e1e1e1 #999999;
}

input.button {
	height: 28px;
	*line-height: 22px;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	padding: 0px 16px;
	margin-right: 6px;
	color: #777777;
	vertical-align: middle;
	*overflow: visible;
	cursor: pointer;
	text-shadow: 1px 1px #ffffff;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	white-space: nowrap;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: 1px solid #ffc888;
	background: url(../images/common.gif) 0px -30px repeat-x;
}

@-moz-document url-prefix() {
	input.button {
		padding: 0px 10px;
	}
}

input.button:hover {
	color: #222222;
	background-position: 0px -60px;
}

input.button:active {
	background-position: 0px -90px;
}

input.button:disabled {
	color: #bbbbbb;
	cursor: default;
}

input.button:disabled:hover, input.button:disabled:active {
	color: #bbbbbb;
	background-position: 0px 0px;
}

a.button {
	height: 26px;
	line-height: 26px;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	padding: 0px 16px;
	margin-right: 6px;
	color: #777777;
	vertical-align: middle;
	text-shadow: 1px 1px #ffffff;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	white-space: nowrap;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: 1px solid #ffc888;
	background: url(../images/common.gif) 0px -30px repeat-x;
}

a.button:hover {
	color: #222222;
	background-position: 0px -60px;
}

a.button:active {
	background-position: 0px -90px;
}

a.button:disabled {
	color: #bbbbbb;
	cursor: default;
}

a.button:disabled:hover, a.button:disabled:active {
	color: #bbbbbb;
	background-position: 0px 0px;
}

input.hidden, textarea.hidden, a.hidden {
	display: none;
}

span.requiredField {
	line-height: 28px;
	margin-right: 2px;
	color: #ff6d6d;
	font-size: 10px;
}

input.fieldError {
	border: 1px solid #c09853;
	background-color: #fffbf5;
}

select.fieldError {
	border: 1px solid #c09853;
	background-color: #fffbf5;
}

label.fieldError {
	line-height: 24px;
	margin-left: 4px;
	color: #c09853;
}

/* ---------- Growl ---------- */
.growl {
	width: 260px;
	margin-left: -130px;
	position: fixed;
	top: 100px;
	left: 50%;
	z-index: 200;
	font-weight: bold;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
	border: 1px solid transparent;
}

.alert-dismissible {
	padding-right: 35px;
}

.alert-dismissible .close {
	line-height: 1px;
	float: right;
	padding: 5px;
	position: relative;
	top: -5px;
	right: -30px;
	color: inherit;
	text-shadow: 0px 1px 0px #ffffff;
	cursor: pointer;
	filter: alpha(opacity=20);
	opacity: 0.2;
	-webkit-appearance: none;
	border: none;
	background: transparent;
}

.alert-dismissible .close:hover, .alert-dismissible .close:focus {
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.alert-success {
	color: #3c763d;
	border-color: #d6e9c6;
	background-color: #dff0d8;
}

.alert-info {
	color: #31708f;
	border-color: #bce8f1;
	background-color: #d9edf7;
}

.alert-warning {
	color: #8a6d3b;
	border-color: #faebcc;
	background-color: #fcf8e3;
}

.alert-danger {
	color: #a94442;
	border-color: #ebccd1;
	background-color: #f2dede;
}

.alert-dark {
	color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.6);
	background-color: rgba(0, 0, 0, 0.8);
}

/* ---------- Loading ---------- */

span.loadingIcon {
	width: 20px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	background: url(../images/loading_icon.gif) center no-repeat;
}

span.loadingBar {
	width: 208px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	background: url(../images/loading_bar.gif) center no-repeat;
}

/* ---------- GoTop ---------- */

.goTop {
	width: 39px;
	height: 60px;
	display: none;
	position: fixed;
	_position: absolute;
	right: 10px;
	bottom: 60px;
	_top: expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight - 60);
	background: url(../images/common.gif) -150px -120px no-repeat;
}

.goTop a {
	height: 30px;
	display: block;
	outline: none;
	blr: expression(this.hideFocus = true);
}

/* ---------- Breadcrumb ---------- */

.breadcrumb {
	height: 25px;
	line-height: 25px;
	margin-bottom: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: solid 1px #e4e4e4;
}

.breadcrumb li {
	float: left;
	padding: 0px 20px 0px 10px;
	color: #d96663;
	background: url(../images/common.gif) right -180px no-repeat;
	*background-image: expression(this.nextSibling == null ? "none" : "");
}

.breadcrumb li:last-child {
	background: none;
}

/* ---------- Header ---------- */

.header {
	margin-bottom: 10px;
}

.header .top {
	height: 30px;
	line-height: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e6e6e6;
	background-color: #f6f6f6;
}

.header .topNav {
	width: 1190px;
	margin: 0px auto;
}

.header .topNav li {
	float: left;
	color: #dddddd;
}

.header .topNav li span {
	margin-right: 20px;
	color: #666666;
}

.header .topNav li a {
	margin: 0px 8px;
	color: #888888;
}

.header .topNav li a:hover {
	color: #ff6600;
}

.header .topNav .headerName {
	margin-right: 0px;
}

.header .topNav .headerName, .header .topNav .headerLogin, .header .topNav .headerRegister, .header .topNav .headerLogout {
	display: none;
}

.header .topNav .headerCart {
	min-width: 60px;
	padding-left: 30px;
	color: #ec6942;
	background: url(../images/common.gif) -270px -210px no-repeat;
}

.header .topNav .headerCart a {
	margin: 0px;
}

.header .topNav .headerCart em {
	color: #ec6942;
}

.header .search {
	width: 500px;
	height: 34px;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 3px solid #ffecd0;
}

.header .search .keyword {
	width: 387px;
	height: 20px;
	line-height: 20px;
	padding: 6px;
	margin: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	color: #888888;
	font-size: 14px;
	-webkit-transition: border-color ease-in-out 0.15s;
	-moz-transition: border-color ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s;
	outline: none;
	border: 1px solid #ffaa00;
	border-right: 0px;
	background: none;
}

.header .search:hover .keyword {
	border-color: #ff8800;
}

.header .search button {
	width: 100px;
	height: 34px;
	margin: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: 0px;
	background: url(../images/common.gif) 0px -210px no-repeat;
}

.header .search button:hover {
	filter: alpha(opacity = 90);
	opacity: 0.9;
}

.header .hotSearch {
	height: 30px;
	line-height: 30px;
	clear: both;
	padding-left: 2px;
}

.header .hotSearch a {
	margin: 0px 2px;
	color: #999999;
}

.header .phone {
	width: 180px;
	padding: 10px 20px;
	position: relative;
	color: #bc7b00;
	font-size: 22px;
	font-family: "Microsoft YaHei";
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #e5e5e5;
}

.header .phone em {
	height: 20px;
	line-height: 20px;
	padding: 0px 10px 0px 30px;
	position: absolute;
	top: -10px;
	left: 20px;
	color: #888888;
	font-size: 12px;
	font-weight: normal;
	background: url(../images/common.gif) -270px -240px no-repeat #ffffff;
}

.header .mainNav {
	height: 38px;
	line-height: 38px;
	background-color: #ff7700;
}

.header .mainNav dt {
	width: 150px;
	float: left;
	padding-left: 40px;
	background: url(../images/common.gif) -270px -270px no-repeat #f04400;
}

.header .mainNav dt a {
	color: #ffffff;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}

.header .mainNav dt a:hover {
	text-decoration: underline;
}

.header .mainNav dd {
	float: left;
	-webkit-transition: ease-in background-color 0.3s;
	-moz-transition: ease-in background-color 0.3s;
	transition: ease-in background-color 0.3s;
}

.header .mainNav dd:hover {
	background-color: #d66400;
}

.header .mainNav dd a {
	padding: 0px 20px;
	color: #ffffff;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}

/* ---------- Footer ---------- */

.footer {
	background: url(../images/common.gif) 0px -870px repeat-x #fafafa;
}

.footer .service {
	width: 1190px;
	padding: 20px 0px;
	margin: 0px auto;
}

.footer .service dl {
	width: 210px;
	float: left;
	padding: 0px 20px;
}

.footer .service dt {
	height: 40px;
	line-height: 40px;
	padding-left: 40px;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}

.footer .service .icon1 {
	background: url(../images/common.gif) -240px -630px no-repeat;
}

.footer .service .icon2 {
	background: url(../images/common.gif) -240px -690px no-repeat;
}

.footer .service .icon3 {
	background: url(../images/common.gif) -240px -750px no-repeat;
}

.footer .service .icon4 {
	background: url(../images/common.gif) -240px -810px no-repeat;
}

.footer .service dd {
	line-height: 26px;
	padding-left: 40px;
}

.footer .service dd a {
	color: #888888;
}

.footer .service .qrCode {
	float: left;
	padding: 20px 0px 20px 40px;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	text-align: center;
	border-left: 1px solid #e1e1e1;
}

.footer .service .qrCode img {
	display: block;
}

.footer .bottom {
	padding: 20px 0px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

.footer .bottomNav {
	line-height: 30px;
	text-align: center;
}

.footer .bottomNav ul {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.footer .bottomNav li {
	float: left;
}

.footer .bottomNav li a {
	margin: 0px 10px;
}

.footer .info {
	line-height: 36px;
	text-align: center;
}

.footer .info ul {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.footer .info li {
	float: left;
}

.footer .info li a {
	margin: 0px 6px;
}

.footer .info li img {
	border: 1px solid #d9d9d9;
}

/* ---------- Pagination ---------- */

.pagination {
	height: 20px;
	float: right;
	padding: 10px 0px;
	margin-bottom: 10px;
}

.pagination a, .pagination span {
	height: 18px;
	line-height: 18px;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	margin-right: 2px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	outline: none;
	blr: expression(this.hideFocus = true);
}

.pagination a {
	padding: 0px 5px;
	border: 1px solid #cccccc;
}

.pagination a:hover {
	border: 1px solid #fd6d01;
}

.pagination a.previousPage {
	width: 18px;
	padding: 0px;
	background: url(../images/common.gif) 0px -120px no-repeat;
}

.pagination span.previousPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/common.gif) -30px -120px no-repeat;
}

.pagination a.nextPage {
	width: 18px;
	padding: 0px;
	background: url(../images/common.gif) 0px -150px no-repeat;
}

.pagination span.nextPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/common.gif) -30px -150px no-repeat;
}

.pagination a.firstPage {
	width: 18px;
	padding: 0px;
	background: url(../images/common.gif) -60px -120px no-repeat;
}

.pagination span.firstPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/common.gif) -90px -120px no-repeat;
}

.pagination a.lastPage {
	width: 18px;
	padding: 0px;
	background: url(../images/common.gif) -60px -150px no-repeat;
}

.pagination span.lastPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/common.gif) -90px -150px no-repeat;
}

.pagination span.currentPage {
	padding: 0px 5px;
	color: #fd6d01;
	font-weight: bold;
	cursor: default;
	border: 1px solid #fd6d01;
	background-color: #ffede1;
}

.pagination .pageBreak {
	padding: 0px 5px;
	color: #3366cc;
	cursor: default;
}